<h1>Widgets</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>ID</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @widgets.each do |widget| %>
      <tr>
        <td><%= link_to widget.title, widget %></td>
        <td><%= widget.description %></td>
        <td><%= widget.identifier %></td>
        <td>
          <%= link_to 'Edit', edit_widget_path(widget) %> |
          <%= link_to 'Destroy', widget, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Widget', new_widget_path %>
